body {
    margin:0;
}

.menu-bar{
    position:relative;
    display:flex;
    background-color:#111827;
    color:white;
    height:20%;
    width:100%;
    justify-content:center;
    align-items:center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu-left{
    position:absolute;
    left:40px;
    display:flex;
    gap:10px;
    align-items:center;
}

#back-txt{
    font-size:26px;
    font-weight:bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#back_arrow{
    font-size:26px;
    cursor:pointer;
}

body {
    margin: 0;
    background: #f4f6f9;
}

/* Calendar Container */

.calendar-container {
    width: 900px;
    margin: 40px auto;
    background: white;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,.15);
    padding: 30px;
}

/* Month Header */

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

    .calendar-header h2 {
        margin: 0;
        font-size: 30px;
        color: #111827;
    }

    .calendar-header button {
        width: 45px;
        height: 45px;
        border: none;
        border-radius: 50%;
        background: #111827;
        color: white;
        font-size: 20px;
        cursor: pointer;
    }

        .calendar-header button:hover {
            background: #2563eb;
        }

/* Weekdays */

.weekdays {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    margin-bottom: 15px;
}

    .weekdays div {
        text-align: center;
        font-weight: bold;
        color: #374151;
        padding: 12px;
    }

/* Calendar */

.calendar {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 10px;
}

/* Day Cell */

.day {
    height: 90px;
    border: 1px solid #d1d5db;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: .2s;
    background: white;
    position: relative;
    
    flex-direction: column;
}

    .day:hover {
        transform: scale(1.05);
        box-shadow: 0 3px 10px rgba(0,0,0,.15);
    }

.day-number {
    font-size: 18px;
    font-weight: bold;
}

.checkin-time {
    margin-top: 4px;
    font-size: 11px;
    color: white;
}

/* Empty cells before the 1st day */

.empty {
    visibility: hidden;
}

/* Today's date */

.today {
    border: 3px solid #2563eb;
}

/* Present */

.present {
    background: #22c55e;
    color: white;
    font-weight: bold;
}

/* Today + Present */

.today.present {
    border: 3px solid #2563eb;
}