body {
    margin:0;
}

.menu-bar{
    height:20%;
    width:100%;
    display:flex;
    position:relative;
    background:#111827;
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content :center;
    align-items:center;
}

.menu-left{
    position:absolute;
    left:40px;
    gap:10px;
    align-items:center;
    display:flex;
}

#back_btn{
    font-size:26px;
    cursor:pointer;
}

#back-txt{
    font-size:26px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
}

.mreview-box{
    min-height:480px;
    width:850px;
    margin:40px auto;
    background:white;
    box-shadow:0 5px 10px rgba(0,0,0,.25);
    border-radius:8px;
    box-sizing:border-box;
    padding:30px;
}

.rl{
    display:flex;
    justify-content:center;
    gap:100px;
}


.rinfo {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.left,
.right {
    width: 50%;
    margin-bottom:25px;
}

.payment-Popup{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.5);
    display:none;
    justify-content:center;
    align-items:center;
}

.payment-box {
    width: 350px;
    background: white;
    padding: 30px;
    border-radius: 12px;
    text-align: center;

}

.loader {
    width: 60px;
    height: 60px;
    border: 6px solid #ddd;
    border-top: 6px solid #111827;
    border-radius: 50%;
    margin: 20px auto;
    animation: spin 1s linear infinite;
}

@keyframes spin {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}