body {
margin:0;
}

.menu-bar{
    position:relative;
    height:20%;
    width:100%;
    display:flex;
    background-color:#111827;
    color:white;
    justify-content:center;
    align-items:center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu-left{
    position:absolute;
    left:40px;
    align-items:center;
    gap:10px;
    display:flex;
}

#back-btn{
    font-size:26px;
    cursor:pointer;

}

#back-txt{
    font-size:26px;
    font-weight:bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
    
.faq-container{
    width:70%;
    margin:40px auto;
}

.faq-item{
    background:white;
    margin-bottom:20px;
    border-radius:20px;
    overflow:hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    
}

.faq-question{
    width:100%;
    padding:20px;
    border:none;
    background-color:#111827;
    color:white;
    font-size:22px;
    font-weight:bold;
    text-align:left;
    cursor:pointer;
    transition:3s;
}

.faq-question:hover{
    background:#1f2937;
}

.faq-answer{
    padding:20px;
    font-size:18px;
    color:#333;
    display:none;
    background:white;
    line-height:1.6;
}

.support-container{
    width:70%;
    margin:40px auto;
    background:white;
    border-radius:10px;
    padding:25px;
    box-shadow:0 4px 10px rgba(0,0,0,.15);
}

.support-container h2{
    text-align:center;
    color:#111827;
    margin-bottom:25px;

}

.support-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    font-size: 20px;
}

    .support-item:last-child {
        border-bottom: none;
    }

    .support-item a {
        text-decoration: none;
        color: #2563eb;
        font-weight: bold;
    }

        .support-item a:hover {
            text-decoration: underline;
        }

