body {
    display:flex;
    height:100vh;
    margin:0;
    overflow:hidden;
}
.google-logo{
    width: 24px;
    height:24px;
    border-radius:50%;
    margin-right:10px;
    margin-top:5px;

}
.register{
    width:85%;
    background-image:url("../images/background.png");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    cursor:pointer;
    

}

.login{
    width:15%;
    background:white;
    cursor:pointer;
    
}

.register,
.login{
    transition:0.5s ease;
    display:flex;
    background-position:center;
    background-size:cover;
    background-repeat:repeat;
    flex-direction:column;
    justify-content:center;
    align-items:center;

}
.register-form,
.login-preview,
.login-form,
.register-afterview {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-form,
.register-form{
    background:rgba(255,255,255,0.15);
    backdrop-filter:blur(8px);
    width:340px;
    padding:30px;
    border-radius:20px;
    border:1px solid rgba(255,255,255,0.3);
    box-shadow:0 8px 32px rgba(0,0,0,0.2);
    margin-left:55%;

}
.login-form{
    display:none;
    width:320px;
    margin-right:110%;
}
.register-afterview{
    display:none;
}
.panel-image{
    width:100%;
    height:100%;
    object-fit:cover;
}

.google-text{
    border-radius:30px;
    width:80%;
    border:none;
    font-weight:bold;
    font-size:16px;
    gap:10px;
    padding:12px 20px;
    
    align-items:center;
    justify-content:center;
    cursor:pointer;

}

.login-form input{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
    background:rgba(255,255,255,0.8);
    font-size:16px;

}
.register-form input{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
    background:rgba(255,255,255,0.8);
    font-size:16px;
}
.login-button{
    width:60%;
    padding:12px;
    border:none;
    border-radius:12px;
    font-size:16px;
    font-weight:bold;
    
    cursor:pointer;
    background:rgb(5, 174, 249);
}
.login-button:hover{
    transform:scale(1.03);
}

.login-button{
    transition:0.3s;
}

.show-password.input
{
    display:flex;
    align-items:flex-start;
    
    margin-top:10px;
    margin-bottom:15px;
}

.show-password{
    display:flex;
    font-size:12px;

    margin-top:8px;
    margin-right:65%;

}